<!DOCTYPE html>
<html>
  <head>
    <titleExpress</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <header>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Q2 BABY!</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">News<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Posts</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">News <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Tech news</a></li>
                <li class="divider"></li>
                <li><a href="#">Hmm</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login/details">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
