<% include partials/header %>

  </header>
  <h1> Hello <%= title%></h1>
  <p>Welcome to
    <%= title %>
  </p>

  <main>

 <p>Where AJAX INFO will go</p>
  </main>

    <footer>
      <h5 class="footerClass">FOOTER HERE</h5>
    </footer>

  </body>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/newsAjax.js" type="text/javascript"></script>
  </html>
